.feedprofile {

    position: absolute;
    top: 50px;
    left: 40px;
    border-radius: 10px;
    border: 4px solid white;


}

input#id_content {
    width: 405px;
    border-radius: 5px;
    border: 2px solid #c4e3ee;
    color: skyblue;
}