.list {

    margin-top: 20px;

}

#details {

    width: 100%;
    height: 290px;
    background-color: #fcfcfc;
    text-align: left;
    padding: 20px;

}


#detailslist {

    list-style: none;
    padding-left: 0;
    font-size: 13px;


}

.col-md-4.col-sm-4.col-xs-4 {


     padding-top: 0px;
     padding-bottom: 0px;
     background-color: inherit;
     background-color: inherit;
     border: none;
     border: none;
}


#users {

    width: 100%;
    height: 200px;
    background-color: #fcfcfc;
    text-align: left;
    padding: 0px;
    overflow-y:auto;
    margin-top: 30px;

}

#statuses {

    width: 100%;
    height: 100%;
    background-color: #ededed;
    align-content: center;
}

#statusinput {

    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    padding: 20px;

}

#updatestatus {

    font-family: Arial;
    background-color: #604762;
    border-radius: 3px;
    color: white;
    border: none;
    font-size: 12px;

}

.statuspanel {

    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    padding: 20px;
    margin-top: 25px;

}

#author {

    font-family: Arial;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-size: 13px;
    color: cornflowerblue;

}

.statustext {

    margin-top: 20px; margin-bottom: 20px; font-size: 12px;

}

#likebutton {

    background-color: #604762;
    color: white;
}

#dislikebutton {

    background-color: #604762;
    color: white;

}

input#id_content {

    width: 100%;
    border-radius: 0;
    border: none;

}

#usernamefont {

    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 20px;

}


#profilepicbutton {

    background-color: #5e435e;
    color: white;
    border: none;
    border-radius: 2px;
    width: 90px;
    height: 20px;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 5px;

}

