{% load bootstrap_tags %}
{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">



        <link rel="shortcut icon" type="image/x-icon" href="/media/images/heart.png" />

		<title> FleekyDating</title>

		<link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="https://getbootstrap.com/examples/navbar-fixed-top/navbar-fixed-top.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<script src="https://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{%  static "css/non-responsive.css" %}">
        <link rel="stylesheet" href="{%  static "css/base.css" %}">
        <link rel="stylesheet" href="{%  static "css/landing.css" %}">
        <link rel="stylesheet" href="{%  static "css/profile.css" %}">
        <link rel="stylesheet" href="{%  static "css/newsfeed.css" %}">
        <link rel="stylesheet" href="{%  static "css/introjs.css" %}">




        <script src="{%  static "js/jquery-1.11.3.js" %}"></script>
        <script src="{%  static "js/ajax.js" %}"></script>

        <script src="{%  static "js/justgage.js" %}"></script>
        <script src="{%  static "js/raphael-2.1.4.min.js" %}"></script>

        <script src="{%  static "js/intro.js" %}"></script>

	</head>

    <script>

        $(document).ready(function() {
            $('ul.dropdown-menu').on('click', function(event){

                event.stopPropagation();

            });

            /*$('#notifbind0').on('click', function(event){

                $("#notifbind0").fadeOut();

            });*/


            javascriptfunction6 = function(element){

                introJs().setOption('tooltipClass', 'custom').start();

            }




            javascriptfunction3 = function(element){

                var catid;
                catid = $(element).attr("data-catid");


                $.get('/like/', {category_id: catid, button_type: element.name}, function (data) {

                        $("#message" + catid).fadeOut()


                });

            }

            var fleek = {{ fleekyvalue }};


            var userid = {{ request.user.id }};



            setInterval(function(){

                $.get('/fleekyvalue/',{user_id: userid}, function (data) {

                       var message = data.message;
                        var messageid = data.messageid;
                        console.log("message id is: " + messageid);

                        if (message != 1) {

                            console.log(message);

                            $("#notifbind").html(message);
                            $('#dismissbutton').attr('data-catid', messageid);

                            $("#notifbind0").fadeIn();

                            document.getElementById('sound2').play()



                             /*function(){ $("#notifbind0").delay(8000).fadeOut(); });*/


                        }

                });

            }, 10000);


            javascriptfunction5 = function(element){

                var catid;
                catid = $(element).attr("data-catid");


                $.get('/like/', {category_id: catid, button_type: element.name}, function (data) {

                        $("#notifbind0").fadeOut()


                });

            }







        });




    </script>



    <audio style="display: none;" id="sound1" src="/media/audio/pop.wav"></audio>
    <audio style="display: none;" id="sound2" src="/media/audio/notifsound.wav"></audio>
	<body >


		<nav class="navbar navbar-default navbar-fixed-top">

            <div class="container">

                <div class="navbar-header">

                    {% if not user.is_authenticated %}

                        <a class="navbar-brand" href="#" style="letter-spacing: 6px; font-family: 'Arial', sans-serif; font-size: 16px;">

                            fleeky


                        </a>

                    {%  endif %}

                    {%  if user.is_authenticated %}

                        <div id="searchbox" class="navbar-brand" style="padding-left: 10px;">

                            {% csrf_token %}

                            <li style="list-style: none;"><input type="text" placeholder="search" id="search" name="search" style="height: 25px; width: 420px; border: none; font-family: Arial; font-size: 15px; padding: 5px; border-radius: 5px;"/></li>

                            <ul id="search-results">


                            </ul>

                        </div>

                    {% endif %}



                </div>

                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">

                        {% if not user.is_authenticated %}
                        <span style="color: white; font-size: 13px; margin-top: 18px; margin-left:140px;" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><a data-toggle="modal" data-target="#myModal" style=" color:white; cursor: pointer; font-size: 13px; margin-top: 18px; margin-left:5px;">What is Fleeky?</a>
                        {% endif %}

					</ul>

                    {% if not user.is_authenticated %}

                    <form role="form" method="post" action="{% url 'login' %}">
                    <ul class="nav navbar-nav navbar-right">

                        {%  csrf_token %}
                        <li>{{ form2.email }}</li>
                        <li>{{ form2.password }}</li>
                        <li><button type="submit" class="btn btn-default btn-xs" id="loginbutton">LOG IN</button></li>


                    </ul>
                    </form>

                    {% endif %}

                    {% if user.is_authenticated %}

                            <ul class="nav navbar-nav navbar-right">

                                {% if whichuser.gender == 'Male' %}
                                <li><a href="{% url 'profile' %}"><img style="border-radius: 20px; margin-right: 10px;" {% if user.profileimage %}src="{{ user.profileimage.url}}"{% else %} src="/media/images/default.jpg" {% endif %} width = "20" height = "20" /> {{ user.first_name }}</a></li>
                                {% endif %}

                                {% if whichuser.gender == 'Female' %}
                                <li><a href="{% url 'profile' %}"><img style="border-radius: 20px; margin-right: 10px;" {% if user.profileimage %}src="{{ user.profileimage.url}}"{% else %} src="/media/images/girldefault.png" {% endif %} width = "20" height = "20" /> {{ user.first_name }}</a></li>
                                {% endif %}


                                {% comment %}<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Find </a></li>{% endcomment %}


                                <li><a href="{% url 'feed' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home </a></li>


                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span {% comment %}{% if notifications %}style="color: cornflowerblue;"{% else %}style="color: white;"{% endif %}{% endcomment %} class="glyphicon glyphicon-bell" aria-hidden="true"></span></a>
                                    <ul class="dropdown-menu">



                                        <li style="font-size: 12px; color: white; margin-left: 20px;"> You currently have no new notifications </li>



                                        {% comment %}
                                        {% for notification in notifications %}

                                            <li id="message{{ notification.id }}" class="droplist"> <button style="background-color: inherit; border: none;" onclick="javascriptfunction3(this)" data-catid="{{ notification.id }}"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></button> {{ notification.message }} </li>

                                        {% endfor %}
                                        {% endcomment %}

                                    </ul>
                                </li>



                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" style="padding-right: 0;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Settings <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="droplist"><a href="#" onclick="javascriptfunction6()"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Help </a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header"></li>
                                        <li class="droplist"><a href="{% url 'editprofile' %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Profile </a></li>
                                        <li class="droplist"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout </a></li>
                                    </ul>
                                </li>



                            </ul>


                    {%  endif %}

                </div>

            </div>

        </nav>


        <div id="main_div" class="container" style="margin-top: 30px;">

            {% block content %}
            {% endblock %}


		</div>

        <div class="col-md-12" id="footer">

            <footer>

                <div id="notifbind0"  style="background-color: white; height: 50px; width: 300px; position: fixed; bottom: 30px; left: 30px; opacity: 1; border-radius: 5px; border: 2px solid #0084b4; display: none; opacity: .8;">

                    <div class="row">

                        <div class="col-md-2 col-sm-2 col-xs-2">

                        </div>

                        <div class="col-md-8 col-sm-8 col-xs-8" style="margin-top: 15px;">
                            <p id="notifbind" style="color: #0084b4; font-size: 14px;"></p>

                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-2" style="text-align: right; margin-top: 5px;">
                            <button id="dismissbutton" name="markasread" data-catid="" onclick="javascriptfunction5(this)" style="transform: translate(0, 0); color: #0084b4; outline: none; margin-right: 30px; font-size: 10px; background: transparent; border: none;" class="glyphicon glyphicon-remove"></button>

                        </div>


                    </div>



                </div>


            </footer>

        </div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>

		<script src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>


    </body>

</html>