{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}


<style>

    body {

    background: url("/media/images/snowlove.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    }



    .col-md-4.col-sm-4.col-xs-4 {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #eee;
        background-color: rgba(86,61,124,.15);
        border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);
    }




</style>

<script>




</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 100px; opacity: 1;">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: white; height: 800px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align: center; color: #0084b4;">What is Fleeky?</h4>
      </div>
      <div class="modal-body" style="height: 50px; padding: 20px;">

          <p style="color: #0084b4; font-size: 18px; text-align: center; ">Fleeky is the next generation of online dating. By combining a powerful array of your favourite social networking tools, we strive to deliver the greatest dating adventure you will ever embark on. </p>
          <li style="list-style: none; margin-top: 40px;"><span style="transform: translate(0, 0); color: #8bc74a; outline: none; margin-left: 30px; background: transparent; font-size: 20px; border: none;" class="glyphicon glyphicon-ok"></span><span style="margin-left: 10px; font-size: 18px; color: #0084b4;">Fleeky is free and will always stay that way.</span></li>
          <li style="list-style: none; margin-top: 40px;"><span style="transform: translate(0, 0); color: #8bc74a; outline: none; margin-left: 30px; background: transparent; font-size: 20px; border: none;" class="glyphicon glyphicon-ok"></span><span style="margin-left: 10px; font-size: 18px; color: #0084b4;">Fleeky is smart and will monitor your relationships.</span></li>
          <li style="list-style: none; margin-top: 40px;"><span style="transform: translate(0, 0); color: #8bc74a; outline: none; margin-left: 30px; background: transparent; font-size: 20px; border: none;" class="glyphicon glyphicon-ok"></span><span style="margin-left: 10px; font-size: 18px; color: #0084b4;">Interact to earn Fleeky points and unlock new flirts.</span></li>
          <li style="list-style: none; margin-top: 40px;"><span style="transform: translate(0, 0); color: #8bc74a; outline: none; margin-left: 30px; background: transparent; font-size: 20px; border: none;" class="glyphicon glyphicon-ok"></span><span style="margin-left: 10px; font-size: 18px; color: #0084b4;">Eliminate users seeking only one night stands.</span></li>

          <img src="/media/images/123.jpg" style="border-radius: 100px; width: 150px; height: 150px; margin-left: 200px; margin-top: 80px;">
          <p style="text-align: center; font-size: 10px; margin-top: 20px;">Ronan Pierce Higgins, creator</p>
          <img src="/media/images/signature.png" style=" margin-left: 200px;">
      </div>

    </div>
  </div>
</div>

<div class="grid">


<div class="row" id="overlap">

    <div class="col-md-5 col-sm-5 col-xs-5" id="div_left">





    </div>



    <div class="col-md-3 col-sm-3 col-xs-3" id="div_middle">

    </div>




    <div class="col-md-4 col-sm-4 col-xs-4" id="div_right">

        {% if messages %}
            <div class="alert alert-success" >
                <div class="messages">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}



        <h2 id="register_caption"> <span id="span_account">Need an account?</span> <span id="span_create"> Create </span> one here! </h2>

        <form role="form" method="post" action="{% url 'register' %}">

            {%  csrf_token %}
            {{ form| as_bootstrap  }}
            <button type="submit" class="btn btn-success" id="create_account_button">Get Fleeky!</button>

        </form>

    </div>


</div>

</div>


{%  endblock content %}