{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Fleeky</title>



	</head>

    <style>

        body {

            background: url("/media/images/snowlovemobile.jpg");
            background-size: cover;
            background-repeat: no-repeat;


        }



    </style>




	<body>


        <div id="mobilediv"  class="col-xs-12" style="height: 250px; background-color: #4e304e; opacity: .6; text-align: center; border-radius: 5px;">

            <h3 style="color: white; font-family: Arial; font-size: 18px; line-height: 40px;"> Fleeky is currently under mobile development. For the time being, please use the desktop version. </h3>
            <h3 style="color: white; font-family: Arial; font-size: 18px; line-height: 40px;"> Thank you. </h3>
        </div>


    </body>

</html>