{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}


<script>


    $(document).ready(function() {


        var firsttime = {{ first_time_login }}
        console.log(firsttime)

        if (firsttime == 1) {

            introJs().setOption('tooltipClass', 'custom').start();


        }

        var likerarr = [];
        var postarr = [];
        var postsliked = [];
        var postnotliked = [];


        {% for liker in likers %}

            likerarr.push("{{ liker.status.id }}");

        {% endfor %}

        {% for post in posts %}

            postarr.push("{{ post.id }}");

        {% endfor %}

        likerarr.sort(function(a, b){return a-b});
        postarr.sort(function(a, b){return a-b});


        for (var i = 0; i < postarr.length; i++) {

            if (likerarr.indexOf(postarr[i]) > -1) {

                postsliked.push(postarr[i]);
            } else {

                postnotliked.push(postarr[i]);

            }


        }


        for (i in postsliked) {

            $("#like" + postsliked[i]).hide()


        }

        for (i in postnotliked) {

            $("#dislike" + postnotliked[i]).hide()


        }



        javascriptfunction = function(element){


            var catid;
            catid = $(element).attr("data-catid");


            $.get('/like/', {category_id: catid, button_type: element.name}, function (data) {
                var likes = data.payload1;
                var likers = data.payload2;

                $("#databind" + catid).html(likes);

                if (likers == 1) {

                    document.getElementById('sound1').play()

                    $("#like" + catid).hide()
                    $("#dislike" + catid).show()
                } else if (likers == 2) {

                    $("#dislike" + catid).hide()
                    $("#like" + catid).show()


                }


            });

        }





        javascriptfunction2 = function(element){

            var catid;
            catid = $(element).attr("data-catid");


            $.get('/like/', {category_id: catid, button_type: element.name}, function (data) {

                    $("#panel" + element.id).slideUp()


            });

        }

        javascriptfunction3 = function(element){

            var catid;
            catid = $(element).attr("data-catid");


            $.get('/like/', {category_id: catid, button_type: element.name}, function (data) {

                    $("#wink" + element.id).fadeOut()


            });

        }

    });

</script>


<div class="row" style="margin-top: -50px">

    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-top: 25px;">

        <div style="height: 210px; width: 100%; background-color: white; padding: 10px; border: 2px solid #e5f2f7; border-radius: 5px; margin-bottom: 40px; padding: 0;" data-intro="This panel will keep you updated with real time stats about your profile." data-step="1" >

            <div style="height: 100px; width: 100%; background-color: #4e304e; padding: 10px; border-radius: 5px 5px 0 0;">

                {% if whichuser.gender == 'Male' %}
                <img class="feedprofile" {% if whichuser.profileimage %}src="{{ whichuser.profileimage.url }}"{% else %} src="/media/images/default.jpg" {% endif %} width = "100" height = "100" />
                {% elif whichuser.gender == 'Female' %}
                <img class="feedprofile" {% if whichuser.profileimage %}src="{{ whichuser.profileimage.url }}"{% else %} src="/media/images/girldefault.png" {% endif %} width = "100" height = "100" />
                {% endif %}

                <div class="row" style="height: 250px;">

                    <div class="col-md-4 col-sm-4 col-xs-4" style="position: absolute; top: 160px; left: 30px;;">

                        <h10 style="color: #0084b4; font-size: 14px;">CRUSHES</h10>
                        <p style="color: #0084b4;">{{ crushcount }}</p>

                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4" style="position: absolute; top: 160px; left: 120px;">

                        <h10 style="color: #0084b4; font-size: 14px;">FLEEKS</h10>
                        <p style="color: #0084b4;">{{ statuscount }}</p>

                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4" style="position: absolute; top: 160px; left: 220px;">


                    </div>

                </div>


            </div>

        </div>

        <div style="min-height: 180px; height: 100%; width: 100%; background-color: white; border: 2px solid #e5f2f7; border-radius: 5px; margin-top: -30px; visibility: hidden;">





        </div>

    </div>

    <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 25px;">


         <div id="statuses">


            <div id="statusinput" data-intro="Share a fleek to the newsfeed. Remember, to keep your relationships healthy you need to stay active. Get fleeking!" data-step="3">


                {% if whichuser.gender == 'Male' %}
                <img style="position: absolute; left: 30px; border-radius: 5px;" {% if whichuser.profileimage %}src="{{ whichuser.profileimage.url }}"{% else %} src="/media/images/default.jpg" {% endif %} width = "34" height = "34" />
                {% elif whichuser.gender == 'Female' %}
                <img style="position: absolute; left: 30px; border-radius: 5px;" {% if whichuser.profileimage %}src="{{ whichuser.profileimage.url }}"{% else %} src="/media/images/girldefault.png" {% endif %} width = "34" height = "34" />
                {% endif %}



                <form action="{% url 'feed' %}" method="post">{% csrf_token %}

                    {{ form|as_bootstrap }}

                <!--<button id="updatestatus" type="submit">Fleek <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></button>-->


                </form>


            </div>


            {%  for post in posts %}





                <div class="statuspanel" id="panel{{ post.id }}">


                    <div class='statusbox'>

                        <div class="row">

                            <div class="col-md-2 col-sm-2 col-xs-2">

                                {% if post.author.gender == 'Male' %}

                                <img style="border-radius: 5px; margin-left: 15px;" {% if post.author.profileimage %}src="{{ post.author.profileimage.url }}"{% else %} src="/media/images/default.jpg" {% endif %} width = "68" height = "68" />
                                {% else %}

                                <img style="border-radius: 5px; margin-left: 15px;" {% if post.author.profileimage %}src="{{ post.author.profileimage.url }}"{% else %} src="/media/images/girldefault.png" {% endif %} width = "68" height = "68" />

                                {% endif %}
                            </div>

                            <div class="col-md-9 col-sm-9 col-xs-9" style="margin-left: 20px;">


                                {% if post.wall == post.author %}
                                {% if post.author != request.user %} <a style="color: #0084b4; font-size: 16px;" href="/profile/{{ post.author.id }}">{{ post.author.first_name }} {{ post.author.last_name }} </a> {% else %} <a style="color: #0084b4; font-size: 16px;" href="/profile/">{{ post.author.first_name }} {{ post.author.last_name }} </a>  {% endif %} <span style="color: #0084b4; float: right;">{{ post.created_date.time }}</span>
                                {% endif %}

                                {% if post.wall != post.author %}
                                {% if post.author != request.user %} <a style="color: #0084b4; font-size: 16px;" href="/profile/{{ post.author.id }}">{{ post.author.first_name }} {{ post.author.last_name }} </a> {% else %} <a style="color: #0084b4; font-size: 16px;" href="/profile/">{{ post.author.first_name }} {{ post.author.last_name }} </a>  {% endif %} <span style="color: #0084b4;" class="glyphicon glyphicon-share-alt"></span> <a {% if post.wall != request.user %}href="/profile/{{ post.wall.id }}"{% else %}href="/profile/"{% endif %} style="color: #0084b4; font-size: 16px;">{{ post.wall.first_name }} {{ post.wall.last_name }}</a> <span style="color: #0084b4; float: right;">{{ post.created_date.time }}</span>
                                {% endif %}

                                <!--<span style="color: skyblue;" class="glyphicon glyphicon-menu-right"></span>-->

                                <p class="statustext" style="word-break: break-all;">{{ post.content }}</p>



                            </div>




                        </div>

                        <div class="row">

                            <div class="col-md-2 col-sm-2 col-xs-2">



                            </div>

                            <div class="col-md-1 col-sm-1 col-xs-1" style="margin-left: 20px;">

                            {% if post.author == request.user %}

                                <button style="font-size: 12px; outline: none; background: transparent; border: none; color: #0084b4;" name="delete" id ="{{ post.id }}" onclick="javascriptfunction2(this)" data-catid="{{ post.id }}" class="glyphicon glyphicon-trash"> </button>

                            {% endif %}

                            {% if post.author != request.user %}
                                <button style="transform: translate(0, 0); font-size: 12px; color: #0084b4; outline: none; background: transparent; border: none;" name="like" id="like{{ post.id }}" onclick="javascriptfunction(this)" data-catid="{{ post.id }}" class="likebutton glyphicon glyphicon-heart"></button>


                                <button style="transform: translate(0, 0); font-size: 12px; color: red; outline: none; background: transparent; border: none;" name="dislike" id ="dislike{{ post.id }}" onclick="javascriptfunction(this)" data-catid="{{ post.id }}" class=" dislikebutton glyphicon glyphicon-heart"></button>


                                {% endif %}

                            </div>

                            <div class="col-md-.5 col-sm-.5 col-xs-.5">
                                <b style="color: #0084b4; margin-left: -10px;" id="databind{{ post.id }}">{{ post.likes }}</b>
                            </div>



                        </div>





                    </div>


                </div>


            {%  endfor %}




        </div>


    </div>

    <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top: 25px;" data-intro="Fleekicons are a great way of flirting. Here you can view your pending flirts. Don't be shy, send some back!" data-step="2" >

        <div id="birthday" style="min-height: 78px; height: 100%; width: 100%; background-color: white; border: 2px solid #e5f2f7; border-radius: 5px;">

            <div style="width: 100%; height: 40px; background-color: #4e304e; border-radius: 5px 5px 0 0; padding-top: 10px;">

                <h5 style="color: white; font-family: Arial; margin-left: 35px; font-size: 12px; margin-bottom: 1px; margin-top: 0;"><span style="margin-right: 5px;" class="glyphicon glyphicon-repeat"></span>Fleekicons</h5>


            </div>



            {% for wink in winks %}

                    <li id="wink{{ wink.id }}" style="list-style: none; color: #0084b4; font-family: Arial; margin-left: 20px; font-size: 14px; margin-bottom: 10px; margin-top: 5px;"> <button style="transform: translate(0, 0); font-size: 12px; color: #0084b4; outline: none; background: transparent; border: none;" id="{{ wink.id }}" name="wink" onclick="javascriptfunction3(this)" data-catid="{{ wink.initiator.id }}" class="glyphicon glyphicon-eye-open"></button><span><a style="color: #0084b4; font-size: 14px;" href="/profile/{{ wink.initiator.id }}">{{ wink.initiator.first_name }} {{ wink.initiator.last_name }}</a></span></li>

            {% endfor %}



            {% if not winks %}

                    <h5 style="font-family: Arial; font-size: 12px; color: #0084b4; text-align: center;">You have no Fleekicons</h5>


            {% endif %}



        </div>

    </div>


</div>

{% endblock %}