{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<script>

    $(document).ready(function() {


        var sent = {{ sent }};

        if (sent == 1) {


            $("#primewink").css('color', '#8bc74a');


        }

        var firsttime = {{ first_time_login }};
        console.log(firsttime);

        if (firsttime == 1) {

            introJs().setOption('tooltipClass', 'custom').start();


        }



        if (firsttime == 3) {

            introJs().setOption('tooltipClass', 'custom').start();


        }



        /*$(".dob").on("mouseover", function () {

            $(this).css("color","#8bc74a");

        });

        $(".dob").on("mouseleave", function () {

            $(this).css("color","skyblue");

        });*/

        var likerarr = [];
        var postarr = [];
        var postsliked = [];
        var postnotliked = [];


        {% for liker in likers %}

            likerarr.push("{{ liker.status.id }}");

        {% endfor %}

        {% for post in posts %}

            postarr.push("{{ post.id }}");

        {% endfor %}

        likerarr.sort(function(a, b){return a-b});
        postarr.sort(function(a, b){return a-b});


        for (var i = 0; i < postarr.length; i++) {

            if (likerarr.indexOf(postarr[i]) > -1) {

                postsliked.push(postarr[i]);
            } else {

                postnotliked.push(postarr[i]);

            }


        }


        for (i in postsliked) {

            $("#like" + postsliked[i]).hide()


        }

        for (i in postnotliked) {

            $("#dislike" + postnotliked[i]).hide()


        }



        javascriptfunction = function(element){


            var catid;
            catid = $(element).attr("data-catid");


            $.get('/like/', {category_id: catid, button_type: element.name}, function (data) {
                var likes = data.payload1;
                var likers = data.payload2;

                $("#databind" + catid).html(likes);

                if (likers == 1) {

                    document.getElementById('sound1').play()

                    $("#like" + catid).hide()
                    $("#dislike" + catid).show()
                } else if (likers == 2) {

                    $("#dislike" + catid).hide()
                    $("#like" + catid).show()


                }


            });

        }

        javascriptfunction2 = function(element){

            var catid;
            catid = $(element).attr("data-catid");


            $.get('/like/', {category_id: catid, button_type: element.name}, function (data) {

                    $("#panel" + element.id).fadeOut()


            });

        }

        javascriptfunction3 = function(element){

            var catid;
            catid = $(element).attr("data-catid");


            $.get('/like/', {category_id: catid, button_type: element.name}, function (data) {

                    $("#crush" + catid).slideUp()


            });

        }

        javascriptfunction4 = function(element){

            var catid;
            catid = $(element).attr("data-catid");


            $.get('/like/', {category_id: catid, button_type: element.name}, function (data) {

                    $("#primewink").css('color', '#8bc74a')


            });

        }

        var fleek = {{ fleekyvalue }};


        var userid = {{ request.user.id }};


        /*setInterval(function(){
            $.ajax({ url: "/fleekyvalue/", success: function(data){

                console.log(data)
            }, dataType: "json"});
        }, 30000);*/

        /*setInterval(function(){

            $.get('/fleekyvalue/',{user_id: userid}, function (data) {

                   var message = data.message

                    console.log(message)

            });

        }, 10000);*/






        if (fleek < 5) {

            var status = 'randomer';
        }

        else if (fleek >= 5 && fleek < 10 ) {

            var status = 'Aquaintance'
        }

        else if (fleek >= 10 && fleek < 15 ) {

            var status = 'Friends'
        }



        var g = new JustGage({
            id: "gauge",
            value: {{ fleekyvalue }},
            min: 0,
            max: 30,
            title: "Status: " + status,
            levelColorsGradient: false,
            customSectors: [{
                color : "#ecdfec",
                lo : 0,
                hi : 5
              },{
                color : "#ceb0ce",
                lo : 5,
                hi : 10
              },{
                color : "#b181b1",
                lo : 10,
                hi : 15
                },{
                color : "#9e619e",
                lo : 15,
                hi : 20
                },{
                color : "#7e4e7e",
                lo : 20,
                hi : 25
                },{
                color : " #4e304e",
                lo : 25,
                hi : 30
            }]
        });

});

</script>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="color: skyblue;" class="modal-title" id="myModalLabel">Are you sure you want to add {{ whichuser.first_name }} as a crush?</h4>
      </div>
      <div class="modal-body" style="height: 50px; padding: 20px;">
          <span id="pokeadd" style="position: absolute; bottom: 10px; right: 10px;"><a href="{%  url "addcrush" whichuser.id %}" class="btn btn-default btn-md" style="margin-right: 20px; background: #4e304e; color: white;">Add Crush</a></span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="color: skyblue;" class="modal-title" id="myModalLabel">Are you sure you want to remove {{ whichuser.first_name }} as a crush? </h4>
      </div>
      <div class="modal-body" style="height: 50px; padding: 20px;">
          <span id="pokeadd" style="position: absolute; bottom: 10px; right: 10px;"><a href="{%  url "removecrush" whichuser.id %}" class="btn btn-default btn-md" style="background: #4e304e; color: white;">Remove Crush</a></span>
      </div>
    </div>
  </div>
</div>


<div class="row" style="margin-top: -50px">

    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-top: 25px;">

        <div style="height: 500px; width: 100%; background-color: white; padding: 10px; border: 2px solid #e5f2f7; border-radius: 5px; padding: 0;">

            <div style="height: 150px; width: 100%; background-color: #4e304e; padding: 10px; border-radius: 5px 5px 0 0;">


                <div class="row" style="height: 180%">
                    {% if whichuser.gender == 'Male' %}
                    <img data-intro="{% if first_time_login == 1 %}Congratulations and welcome to Fleeky! Let's just run through a few things before we get you started! {% endif %}If you're looking for love, you need a profile picture! That means a picture of you, not you and friends." data-step="2" class="profileimage" {% if whichuser.profileimage %}src="{{ whichuser.profileimage.url }}"{% else %} src="/media/images/default.jpg" {% endif %} width = "200" height = "200" />
                    {% elif whichuser.gender == 'Female' %}
                    <img data-intro="{% if first_time_login == 1 %}Congratulations and welcome to Fleeky! Let's just run through a few things before we get you started! {% endif %}If you're looking for love, you need a profile picture! That means a picture of you, not you and friends." data-step="2" class="profileimage" {% if whichuser.profileimage %}src="{{ whichuser.profileimage.url }}"{% else %} src="/media/images/girldefault.png" {% endif %} width = "200" height = "200" />
                    {% endif %}
                </div>


                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <h3 style="text-align: center; color: #0084b4;">{% if switch and not isprofilefriend %}<button data-toggle="modal" data-target="#myModal"  class="glyphicon glyphicon-plus" style="transform: translate(0, 0); color: yellowgreen; cursor: pointer; text-decoration: none; outline: none; background: transparent; border: none;"></button>{% endif %} {% if switch and isprofilefriend %}<button data-toggle="modal" data-target="#myModal2" class="glyphicon glyphicon-ok" style="transform: translate(0, 0); color: yellowgreen; cursor: pointer; text-decoration: none; outline: none; background: transparent; border: none;"></button>{% endif %} {{ whichuser.first_name }} {{ whichuser.last_name }}</h3>
                    </div>


                </div>


                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-4" style=" text-align: center; font-size: 12px;">

                        <h3><span style="color: #0084b4;" class="dob glyphicon glyphicon-asterisk" aria-hidden="true"></span></h3>
                        <p><span style="color:  #0084b4;">{{ whichuser.gender }}</span></p>


                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center; font-size: 12px;">

                        <h3 ><span style="color: #0084b4;" class="dob glyphicon glyphicon-gift" aria-hidden="true"></span></h3>
                        <p><span style="color:  #0084b4;">{% if whichuser.date_of_birth %}{{ whichuser.date_of_birth }}{% endif %}</span></p>

                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center; font-size: 12px;">

                        <h3><span style="color: #0084b4;" class="dob glyphicon glyphicon-home" aria-hidden="true"></span></h3>
                        <p><span style="color:  #0084b4;">{% if whichuser.living %}{{ whichuser.living }}{% endif %}</span></p>


                    </div>


                </div>

                <div class="row">


                    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center; font-size: 12px;">

                        <h3><span style="color: #0084b4;" class="dob glyphicon glyphicon-ok" aria-hidden="true"></span></h3>
                        <p><span style="color:  #0084b4;">{% if whichuser.likes %}{{ whichuser.likes }}{% endif %}</span></p>


                    </div>



                    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center; font-size: 12px;">

                        <h3><span style="color: #0084b4;" class="dob glyphicon glyphicon-education" aria-hidden="true"></span></h3>
                        <p><span style="color:  #0084b4;">{% if whichuser.university %}{{ whichuser.university}}{% endif %}</span></p>

                    </div>



                    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center; font-size: 12px;">

                        <h3><span style="color: #0084b4;" class="dob glyphicon glyphicon-heart" aria-hidden="true"></span></h3>
                        <p><span style="color:  #0084b4;">{% if whichuser.seeking %}{{ whichuser.seeking }}{% endif %}</span></p>

                    </div>



                </div>






            </div>

        </div>

        {% if not switch %}

        <div style=" margin-top: 10px; min-height: 50px; max-height: 130px; width: 100%; background-color: white; border: 2px solid #e5f2f7; border-radius: 5px; text-align: left; padding: 0px; overflow-y:auto;" data-intro='All your current crushes are displayed here! Hubba Hubba' data-step="5" >


            <div style="margin-left: 5px; margin-top: 5px;">

                    {%  for crush in crushes  %}

                        {% if crush.creator == whichuser %}

                            {% if crush.crush.gender == 'Male' %}

                                <a href="/profile/{{ crush.crush.id }}"><input style="border-radius: 5px;" data-toggle="tooltip" title="{{ crush.crush.first_name }} {{ crush.crush.last_name }}" data-delay='{"show":"0", "hide":"0"}' type="image" {% if crush.crush.profileimage %}src="/media/{{ crush.crush.profileimage }}"{% else %} src="/media/images/default.jpg"  {% endif %} width = "56" height = "56"></a>
                            {% else %}

                                <a href="/profile/{{ crush.crush.id }}"><input style="border-radius: 5px;" data-toggle="tooltip" title="{{ crush.crush.first_name }} {{ crush.crush.last_name }}" data-delay='{"show":"0", "hide":"0"}' type="image" {% if crush.crush.profileimage %}src="/media/{{ crush.crush.profileimage }}"{% else %} src="/media/images/girldefault.png"  {% endif %} width = "56" height = "56"></a>

                            {% endif %}

                        {%  endif %}
                        {% if crush.crush == whichuser  %}

                            {% if crush.crush.gender == 'Female' %}

                                <a href="/profile/{{ crush.creator.id }}"><input style="border-radius: 5px;" data-toggle="tooltip" title="{{ crush.creator.first_name }} {{ crush.creator.last_name }}" data-delay='{"show":"0", "hide":"0"}' type="image" {% if crush.creator.profileimage %} src="/media/{{ crush.creator.profileimage }}"{% else %} src="/media/images/default.jpg" {% endif %} width = "56" height = "56"></a>
                            {% else %}

                                <a href="/profile/{{ crush.creator.id }}"><input style="border-radius: 5px;" data-toggle="tooltip" title="{{ crush.creator.first_name }} {{ crush.creator.last_name }}" data-delay='{"show":"0", "hide":"0"}' type="image" {% if crush.creator.profileimage %} src="/media/{{ crush.creator.profileimage }}"{% else %} src="/media/images/girldefault.png" {% endif %} width = "56" height = "56"></a>

                            {% endif %}
                        {%  endif %}



                    {% endfor %}

                    {%  if not switch and crushes.count == 0 %}

                        <h5 style="font-family: Arial; font-size: 12px; color: skyblue; text-align: center; margin-right: 5px;">You currently have no crushes. Don't be lonely, go add some!</h5>



                    {% endif %}

            </div>





        </div>

        {% endif %}

    </div>

    <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 25px;">


         <div id="statuses">




            <div id="statusinput" {% if not switch %}data-intro='Have something to say? Share a Fleek! Remember, the less you interact with Fleeky, the less your relationships will develop. Keep active to keep your profile healthy.' data-step="3"{% endif %} {% if switch %}data-intro='Why not post a Fleek on this crushes wall? You never know, it might earn you some Fleeky points!' data-step="2"{% endif %}>

                {% if not switch %}
                {% if whichuser.gender == 'Male' %}
                <img style="position: absolute; left: 30px; border-radius: 5px;" {% if whichuser.profileimage %}src="{{ whichuser.profileimage.url }}"{% else %} src="/media/images/default.jpg" {% endif %} width = "34" height = "34" />
                {% elif whichuser.gender == 'Female' %}
                <img style="position: absolute; left: 30px; border-radius: 5px;" {% if whichuser.profileimage %}src="{{ whichuser.profileimage.url }}"{% else %} src="/media/images/girldefault.png" {% endif %} width = "34" height = "34" />
                {% endif %}
                {% endif %}

                {% if switch %}
                {% if whichuser.gender == 'Male' %}
                <img style="position: absolute; left: 30px; border-radius: 5px;" {% if request.user.profileimage %}src="{{ request.user.profileimage.url }}"{% else %} src="/media/images/default.jpg" {% endif %} width = "34" height = "34" />
                {% elif whichuser.gender == 'Female' %}
                <img style="position: absolute; left: 30px; border-radius: 5px;" {% if request.user.profileimage %}src="{{ request.user.profileimage.url }}"{% else %} src="/media/images/girldefault.png" {% endif %} width = "34" height = "34" />
                {% endif %}
                {% endif %}


                {% if not switch %}
                <form action="{% url 'profile' %}" method="post">{% csrf_token %}

                    {{ statusform|as_bootstrap }}

                <!--<button id="updatestatus" type="submit">Fleek <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></button>-->

                </form>
                {% endif %}

                {% if switch %}
                <form action="{% url 'wall' whichuser.id %}" method="post">{% csrf_token %}

                    {{ statusform|as_bootstrap }}

                <!--<button id="updatestatus" type="submit">Fleek <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></button>-->

                </form>
                {% endif %}



            </div>



            {%  for post in posts %}





                <div class="statuspanel" id="panel{{ post.id }}">


                    <div class='statusbox'>

                        <div class="row">

                            <div class="col-md-2 col-sm-2 col-xs-2">
                                {% if post.author.gender == 'Male' %}
                                <img style="border-radius: 5px; margin-left: 23px; margin-top: 4px;" {% if post.author.profileimage %}src="{{ post.author.profileimage.url }}"{% else %} src="/media/images/default.jpg" {% endif %} width = "68" height = "68" />
                                {% else %}
                                <img style="border-radius: 5px; margin-left: 23px; margin-top: 4px;" {% if post.author.profileimage %}src="{{ post.author.profileimage.url }}"{% else %} src="/media/images/girldefault.png" {% endif %} width = "68" height = "68" />
                                {% endif %}
                            </div>

                            <div class="col-md-9 col-sm-9 col-xs-9" style="margin-left: 20px;">


                                {% if post.wall == post.author %}
                                {% if post.author != request.user %} <a style="color: #0084b4; font-size: 16px;" href="/profile/{{ post.author.id }}">{{ post.author.first_name }} {{ post.author.last_name }} </a> {% else %} <a style="color: #0084b4; font-size: 16px;" href="/profile/">{{ post.author.first_name }} {{ post.author.last_name }} </a>  {% endif %} <span style="color: #0084b4; float: right;">{{ post.created_date }}</span>
                                {% endif %}
                                {% if post.wall != post.author %}
                                {% if post.author != request.user %} <a style="color: #0084b4; font-size: 16px;" href="/profile/{{ post.author.id }}">{{ post.author.first_name }} {{ post.author.last_name }} </a> {% else %} <a style="color: #0084b4; font-size: 16px;" href="/profile/">{{ post.author.first_name }} {{ post.author.last_name }} </a>  {% endif %}  <span style="color: #0084b4;" class="glyphicon glyphicon-share-alt"></span> <a {% if post.wall != request.user %}href="/profile/{{ post.wall.id }}"{% else %}href="/profile/"{% endif %} style="color: #0084b4; font-size: 16px;">{{ post.wall.first_name }} {{ post.wall.last_name }}</a> <span style="color: #0084b4; float: right;">{{ post.created_date.time }}</span>
                                {% endif %}
                                <p class="statustext" style="word-break: break-all;">{{ post.content }}</p>



                            </div>




                        </div>

                        <div class="row">

                            <div class="col-md-2 col-sm-2 col-xs-2">



                            </div>

                            <div class="col-md-1 col-sm-1 col-xs-1" style="margin-left: 20px;">

                            {% if post.author == request.user %}

                                <button style="font-size: 12px; outline: none; background: transparent; border: none; color: #0084b4" name="delete" id ="{{ post.id }}" onclick="javascriptfunction2(this)" data-catid="{{ post.id }}" class="glyphicon glyphicon-trash"> </button>

                            {% endif %}

                            {% if post.author != request.user %}
                                <button style="transform: translate(0, 0); font-size: 12px; color: #0084b4; outline: none; background: transparent; border: none;" name="like" id="like{{ post.id }}" onclick="javascriptfunction(this)" data-catid="{{ post.id }}" class="likebutton glyphicon glyphicon-heart"></button>


                                <button style="transform: translate(0, 0); font-size: 12px; color: red; outline: none; background: transparent; border: none;" name="dislike" id ="dislike{{ post.id }}" onclick="javascriptfunction(this)" data-catid="{{ post.id }}" class=" dislikebutton glyphicon glyphicon-heart"></button>


                                {% endif %}

                            </div>

                            <div class="col-md-.5 col-sm-.5 col-xs-.5">
                                <b style="color: #0084b4; margin-left: -10px;" id="databind{{ post.id }}">{{ post.likes }}</b>
                            </div>



                        </div>





                    </div>


                </div>


            {%  endfor %}




        </div>


    </div>

    <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top: 25px;">

        <div id="birthday" style="{% if switch %}min-height: 130px;{% else %}min-height:78px;{% endif %} height: 100%; width: 100%; background-color: white; padding-bottom: 5px; border: 2px solid #e5f2f7; border-radius: 5px;" {% if not switch %}data-intro='This is the crush suggestion box. Fleeky will automatically find you matches to follow!' data-step="4"{% endif %} {% if switch %} data-intro="Here's our favourite part! The fleeky meter is a real time gauge of how well your relationship is developing. Positive interactivity between you and your crush will earn you Fleeky points! The more points you have, the more Flirts you unlock. Simple." data-step="1" {% endif %}  >

            <div style="width: 100%; height: 40px; background-color: #4e304e; border-radius: 5px 5px 0 0; padding-top: 10px;">

                {% if switch %}
                <h5 style="color: white; font-family: Arial; margin-left: 25px; font-size: 12px; margin-bottom: 1px; margin-top: 0;"><span style="margin-right: 5px;" class="glyphicon glyphicon-dashboard"></span>Fleeky Meter</h5>
                {% endif %}

                {% if switch and not isprofilefriend %}

                    <button style="transform: translate(0, 0); color: gainsboro; outline: none; margin-top: 25px; margin-left: 35px; font-size: 60px; background: transparent; border: none;" class="glyphicon glyphicon-lock"></button>

                {% endif %}

                {% if not switch %}
                <h5 style="color: white; font-family: Arial; margin-left: 30px; font-size: 12px; margin-bottom: 1px; margin-top: 0;"><span style="margin-right: 5px;" class="glyphicon glyphicon-user"></span>Suggestions</h5>
                {% endif %}
            </div>

            {% if switch and isprofilefriend %}

            <div id="gauge" class="200x160px" style="width:140px; height:100px;"></div>

            {% endif %}


            {% if not switch %}
                {% for user in users %}

                        {% if user.gender == 'Male' %}
                              <li id="crush{{ user.id }}" style="list-style: none; text-align: center; margin-top: 15px;"><div class="row"><div class="col-md-6 col-sm-6 col-xs-6"><a href="/profile/{{ user.id }}"><input style="border-radius: 30px; margin-left: 40px;" data-toggle="tooltip" title="{{ user.first_name }} {{ user.last_name }}" data-delay='{"show":"0", "hide":"0"}' type="image" {% if user.profileimage %}src="{{ user.profileimage.url }}"{% else %} src="/media/images/default.jpg" {% endif %} width = "60" height = "60"></a></div><div class="col-md-6 col-sm-6 col-xs-6"><button name="crush" onclick="javascriptfunction3(this)" data-catid="{{ user.id }}" style="transform: translate(0, 0); font-size: 22px; color: #0084b4; outline: none; background: transparent; border: none; margin-right: 10px;" class="dob glyphicon glyphicon-plus"></button></div></div></li>
                            {% endif %}
                            {% if user.gender == 'Female' %}
                              <li id="crush{{ user.id }}" style="list-style: none; text-align: center; margin-top: 15px;"><div class="row"><div class="col-md-6 col-sm-6 col-xs-6"><a href="/profile/{{ user.id }}"><input style="border-radius: 30px; margin-left: 40px;" data-toggle="tooltip" title="{{ user.first_name }} {{ user.last_name }}" data-delay='{"show":"0", "hide":"0"}' type="image" {% if user.profileimage %}src="{{ user.profileimage.url }}"{% else %} src="/media/images/girldefault.png" {% endif %} width = "60" height = "60"></a></div><div class="col-md-6 col-sm-6 col-xs-6"><button name="crush" onclick="javascriptfunction3(this)" data-catid="{{ user.id }}" style="transform: translate(0, 0); font-size: 22px; color: #0084b4; outline: none; background: transparent; border: none; margin-right: 10px;" class="dob glyphicon glyphicon-plus"></button></div></div></li>
                        {% endif %}


                {% endfor %}
            {% endif %}

            {% if not users and not switch %}

                    <h5 style="font-family: Arial; font-size: 12px; color: #0084b4; text-align: center;">You currently have no crush suggestions</h5>


            {% endif %}


        </div>
        {% if switch %}
        <div id="birthday" style="min-height: 78px; height: 100%; width: 100%; margin-top: 15px; background-color: white; padding-bottom: 5px; border: 2px solid #e5f2f7; border-radius: 5px;" data-step="3" data-intro="These are your available Fleekicons. Anything in blue is primed and ready, anything in green is pending a return! Earn Fleeky points to unlock new flirts!">


                <div style="width: 100%; height: 40px; background-color: #4e304e; border-radius: 5px 5px 0 0; padding-top: 10px;">

                <h5 style="color: white; font-family: Arial; margin-left: 50px; font-size: 12px; margin-bottom: 1px; margin-top: 0;"><span style="margin-right: 5px;" class="glyphicon glyphicon-fire"></span>Flirt</h5>


                </div>

                <div class="row" style="margin-top: 20px;">

                    <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center;" id="hey">
                        {% if switch and not isprofilefriend %}
                        <button style="transform: translate(0, 0); color: gainsboro; outline: none; margin-left: 30px; font-size: 30px; background: transparent; border: none;" class="glyphicon glyphicon-lock"></button>
                        {% endif %}

                        {% if switch and isprofilefriend %}
                        <button id="primewink" name="wink" onclick="javascriptfunction4(this)" data-catid="{{ whichuser.id }}" style="transform: translate(0, 0); color: #0084b4; outline: none; margin-left: 30px; background: transparent; font-size: 30px; border: none;" class="glyphicon glyphicon-eye-open"></button>
                        {% endif %}
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center;">

                        {% if fleekyvalue >= 5 %}
                        <button style="transform: translate(0, 0); color: #0084b4; outline: none; margin-right: 30px; font-size: 30px; background: transparent; border: none;" class="glyphicon glyphicon-envelope"></button>
                        {% elif fleekyvalue < 5 %}

                        <button style="transform: translate(0, 0); color: gainsboro; outline: none; margin-right: 30px; font-size: 30px; background: transparent; border: none;" class="glyphicon glyphicon-lock"></button>

                        {% endif %}
                    </div>



                </div>

                <div class="row" style="margin-top: 20px;">

                    <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center;">

                        <button style="transform: translate(0, 0); color: gainsboro; outline: none; margin-left: 30px; background: transparent; font-size: 30px; border: none;" class="glyphicon glyphicon-lock"></button>

                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center;">

                        <button style="transform: translate(0, 0); color: gainsboro; outline: none; margin-right: 30px; font-size: 30px; background: transparent; border: none;" class="glyphicon glyphicon-lock"></button>

                    </div>


                </div>

                <div class="row" style="margin-top: 20px;">

                    <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center;">

                        <button style="transform: translate(0, 0); color: gainsboro; outline: none; margin-left: 30px; background: transparent; font-size: 30px; border: none;" class="glyphicon glyphicon-lock"></button>

                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center;">

                        <button style="transform: translate(0, 0); color: gainsboro; outline: none; margin-right: 30px; font-size: 30px; background: transparent; border: none;" class="glyphicon glyphicon-lock"></button>

                    </div>


                </div>



        </div>
        {% endif %}



    </div>


</div>

{% endblock %}